# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.gitignore
logs
/gateway-core/target
/gateway-common/target
/backend-http-server/target
/gateway-register-center/gateway-register-center-api/target
